<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.username %>,</h3>
    <p>your answer "<%= truncate(@answer.content) %>" has been accepted!</p>
    <p>To read whole thread, just follow this link: <%= link_to @question.title, question_url(@question) %></p>
    <p>Have a great day!</p>
  </body>
</html>