<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @user.username %>,</h3>
    <p>your question has received new answer!<br>
     New answer: <%= @answer.content %></p>
    <p>To read answers to your question, just follow this link: <%= link_to @question.title, question_url(@question) %><br></p>
    <p>Have a great day!</p>
  </body>
</html>