<table>
  <tbody>
      <% @user.answers.order(created_at: :desc).each do |answer| %>
      	<tr>
      	<td><div class="btn-gray"><%= answer.likes.count %></td>
        <td><%= link_to truncate(answer.content), question_path(answer.question) %></td>
      <%end%>
      </tr>
  </tbody>
</table>