<table>
  <tbody>
      <% @user.questions.order(accepted: :desc, created_at: :asc).each do |question| %>
      <tr>
        <td>
         <% if question.accepted %>
            <div class="btn-green"><%= question.answers.count %></div></td>
          <% else %>
            <div class="btn-gray"><%= question.answers.count %></div></td>
          <% end %>
          <td><%= link_to question.title, question_path(question) %></td>
      </tr>
    <%end%>
  </tbody>
</table>
