<div class="jumbotron">
  <div class="container">
    <h1>Stuff and things</h1>
    <p>More stuff and things and words</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
  <p>Whatever aesthetic lo-fi, +1 coloring book wolf poutine snackwave tacos. Venmo scenester paleo art party, fingerstache chillwave listicle. 3 wolf moon hammock DIY bitters cronut, cliche waistcoat. Tousled vegan drinking vinegar, vexillologist bitters air plant gluten-free shoreditch hoodie selfies try-hard kombucha VHS gochujang. Wayfarers portland venmo, quinoa lumbersexual fam selvage flannel dreamcatcher succulents typewriter. Occupy williamsburg slow-carb, la croix freegan irony umami green juice microdosing photo booth cold-pressed. Keytar fashion axe photo booth, bushwick post-ironic raw denim art party bicycle rights small batch blue bottle banh mi hammock blog gentrify.</p>
  </div>
</div>
