<%= form_tag searches_path, html: {class: "navbar-form navbar-left"}, method: :get do %>
       <div class="col-lg-3">
            <div class="input-group searchbar">
              <%= text_field_tag "search[keywords]", nil, class: "form-control", placeholder: "Search" %>
                <span class="input-group-addon">
                  <%= button_tag(:class => "white") do %>
                    <i class="glyphicon glyphicon-search"></i>
                  <% end %>
                </span>
              </div>
              </div>
            <% end %>

