/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-social
 */

@import "font-awesome";

/* * {
  font-family: Georgia, serif;
} */

body {
   padding-top: 50px;
   position: relative;
}

@media (max-width: 975px) {
  .navbar-header {
    float: none;
  }
    
  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  
  .navbar-collapse.collapse {
    display: none!important;
  }
  
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
    }
  
  .navbar-nav>li {
    float: none;
  }
  
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
    /* since 3.1.0 */
  .navbar-collapse.collapse.in { 
    display: block!important;
  }
  
  .collapsing {
    overflow: hidden!important;
  }
} 

/* search */
#search-form{
  padding-top: 8px;
  width: 17.813em;
}

.searchbar span{
    background-color: #FFF;
}

.searchbar input{
    border-right-style:none;
}

.white{
    background-color: #FFF;
    border-style: none;
}

/*user sign in and sign forms v. 2*/

.center {
		max-width: 300px;
		padding: 29px 29px 29px;
		margin: 0 auto 20px;
		background-color: #fff;
		border: 1px solid #e5e5e5;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		     border-radius: 5px;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
		    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

/* font titles and stuff */
.bold-text {
  text-transform: uppercase;
  color: black;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}

.bold-text span {
  color: lightgrey;
}

.cos {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* errors */
#error_explanation h2 {
  font-size: 16px;

}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
    display: block;

}

#error_explanation ul li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #CCCCCC;
 }

 .nav-tabs.nav-justified>li .menu-item {
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
 }

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/glyphicons-halflings-regular.woff') format('woff'),
  url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

/* profile container */
.profile {
  margin: 20px 0;
}

/* profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-username {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-achievements {
  text-transform: uppercase;
  color: grey;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userfriendshipsbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: pink;
  color: black;
}

.profile-usermenu ul li.usermenu-active {
  border-bottom: none;
}

.profile-usermenu ul li.usermenu-active a {
  color: black;
  background-color: lightgrey;

}

/* profile content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 60px;
}

/* button-like for post_list.html.erb */
.btn-green {
  color: #f8f8f8;
  background-color: #4BAE4F;
  border-color: #449d47;
  border-radius: 3px;
  line-height: 1.5;
  text-align: center;
  height: 25px;
  width: 25px;
  padding-top: 2px;
  padding-left: 1px;
  margin: 5px 10px 5px 5px;
}
.btn-big-green {
  color: #f8f8f8;
  background-color: #4BAE4F;
  border-color: #449d47;
  border-radius: 3px;
  line-height: 0.8;
  text-align: center;
  height: 50px;
  width: 50px;
  padding-top: 7px;
  padding-left: 1px;
  margin: 10px;
  font-size: 22px;
}
.btn-big-green span {
  font-size: 12px;
}
.btn-gray {
  color: #9D9D9D;
  background-color: transparent;
  border-color: #9D9D9D;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  line-height: 1.5;
  text-align: center;
  height: 25px;
  width: 25px;
  padding-top: 2px;
  padding-left: 1px;
  margin: 5px 10px 5px 5px;
}

.btn-big-gray {
  color: #9D9D9D;
  background-color: transparent;
  border-color: #9D9D9D;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  line-height: 0.8;
  text-align: center;
  height: 50px;
  width: 50px;
  padding-top: 7px;
  padding-left: 1px;
  margin: 10px;
  font-size: 22px;
}
.btn-big-gray span {
  font-size: 12px;
}

/* badges */
.badges {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* cards */
.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}
.card .card-content {
  padding: 16px 16px 16px 6px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 2px 10px 0px 0px;
  text-align: right;
}
.card .card-action p {
  color:grey;
  font-size: 12px;
}

/* ranking */
.ranking {
  position:center;

}
.center-block {
  float: none !important;
  margin-top: 20px;
}

/* modal */
.modal-size {
  width:300px !important;
}

.modal-well-size {
  width:250px !important;
  margin-left:10px;
}

/* button in modal and sign up/sign in forms */
.button-margin {
  margin: 8px 0px;
}

/* sign in form - not modal and sing up form */

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

/*answers */

.answers-footer {
  padding: 2px 10px 0px 0px;
  text-align: right;
  color:grey;
  font-size: 12px;
}
.answers-likes {
  color:grey;
  font-size: 20px;
}

.answers-accepted-answer {
  color:#4BAE4F;
}

.answers-unactive-likes-buttons {
  color:grey
}

/*question form */
.question-well-size {
  width:500px;
  height:400px;
  margin-top:20px;
  padding-top:5px;
}